@model BellaNapoli.Models.Ordini

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordini</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clienti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clienti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOrdine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOrdine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrdini }) |
    @Html.ActionLink("Back to List", "Index")
</p>
